@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-modal {
  background-color: $primary-color-light;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  @include height-width(100%, 100%);

  @include tablet {
    top: 12.5rem;
    right: 2rem;
    left: 2rem;
    margin: 0 1rem;
    @include height-width(16rem, auto);
  }

  @include desktop {
    right: 20rem;
    left: 20rem;
  }

  &__close {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-self: flex-end;
    @include height-width(1.5rem, 1.5rem);
  }

  &__upper {
    @include flex-box(space-evenly, center, wrap, column);

    @include tablet {
      align-items: flex-start;
    }
  }

  &__header {
    padding: 4rem 1rem 2rem 1rem;

    @include tablet {
      padding: 0 0 1rem 4rem;
    }
  }

  &__details {
    padding: 0 1rem 5rem 1rem;

    @include tablet {
      padding: 0 4rem;
      line-height: 1.5rem;
    }
  }

  &__button {
    padding: 0 1rem;
    @include flex-box(space-evenly, center, nowrap, column);

    @include tablet {
      padding: 2rem 4rem 1rem 0;
      @include flex-box(flex-end, center);
    }
  }

  &__cancel {
    width: 100%;
    @include cancel-button;
  }

  &__delete {
    color: $primary-color-light;
    width: 100%;
    margin-top: 2rem;
    @include border-details(
      0.5rem 0,
      $supporting-color-O,
      0.15rem solid $supporting-color-O,
      1.5rem
    );

    @include tablet {
      width: 4rem;
      margin: 0 0 0 1rem;
    }
  }
}
