$primary-color-dark: #1b1035;
$primary-color: #6246ea;
$primary-color-light: #dcd6f7;

$secondary-color-dark: #332941;
$secondary-color: #b8b5c3;

$background-color-dark: #151221;
$background-color: #f5f3fe;

$supporting-color-G: #29a36e;
$supporting-color-O: #e85d04;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
