$primary-color-dark: #2c1f36;
$primary-color: #735d97;
$primary-color-light: #f8f5fc;
$secondary-color-dark: #4f4a5f;
$secondary-color: #b4b0c2;
$background-color-dark: #1e1b24;
$background-color: #f3f1f7;
$supporting-color-G: #3d6c58;
$supporting-color-O: #a65a2e;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
