$primary-color-dark: #2a0e44;
$primary-color: #7743db;
$primary-color-light: #e5d9fa;

$secondary-color-dark: #493659;
$secondary-color: #b3a1c8;

$background-color-dark: #1c1427;
$background-color: #f4eefc;

$supporting-color-G: #3eb489;
$supporting-color-O: #ff784f;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
