@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.warehouses {
  @include component;

  &__header {
    @include item-list-header;
  }

  &__title {
    @include page-title;
  }

  &__top {
    width: 100%;

    @include tablet {
      @include flex-box(space-between, center);
    }
  }

  &__search {
    @include search-bar(url("../../assets/imgs/search.svg"));

    @include tablet {
      margin-right: 0.5rem;
    }
  }

  &__addition {
    @include add-new-button;

    @include tablet {
      margin-left: 0.5rem;
    }
  }

  &__details {
    @include list-item-box;
  }

  &__info {
    @include item-list-contents;
    width: 85%;
  }

  &__left {
    width: 45%;
    min-width: 7rem;
    padding-bottom: 1rem;
    @include flex-box(flex-start, flex-start, nowrap, column);

    @include tablet {
      width: 46%;
      padding: 0;
      @include flex-box(space-between, center, nowrap, row);
    }

    @include desktop {
      width: 44%;
      padding-right: 0rem;
    }
  }

  &__right {
    width: 40%;
    min-width: 9rem;
    padding-bottom: 1rem;
    @include flex-box(flex-start, flex-start, nowrap, column);

    @include tablet {
      width: 50%;
      padding: 0;
      @include flex-box(space-between, center, nowrap, row);
    }

    @include desktop {
      width: 47%;
    }
  }
}

.warehouses-categories {
  display: none;
  background-color: $background-color;
  padding: 0 1rem;
  @include height-width(2rem, 100%);

  @include tablet {
    padding: 0;
    @include flex-box(space-between, center);
  }

  &__warehouse {
    @include flex-box(center, center);
    width: 20%;
  }

  &__address {
    @include flex-box(center, center);
    width: 20%;
  }

  &__name {
    @include flex-box(center, center);
    width: 20%;
  }

  &__information {
    @include flex-box(center, center);
    width: 24%;
  }

  &__actions {
    width: 16%;
    text-align: center;
  }

  &__icon {
    @include sorting-icon;
  }
}

.specific-warehouse {
  padding-bottom: 1rem;
  @include flex-box(center, flex-start, nowrap, column);

  @include tablet {
    width: 47.5%;
    padding: 0;
  }

  @include desktop {
    width: 75%;
  }

  &__location {
    color: $primary-color;
    font-weight: 600;

    @include tablet {
      text-align: left;
    }
  }

  &__link {
    text-decoration: none;
    align-items: center;
    gap: 0.25rem;
    transition: all 0.3s ease-in-out;
    @include flex-box(center, center);

    &:hover {
      .warehouse__icon {
        transform: translateX(4px);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__icon {
    fill: $primary-color;
    margin-left: 0.25rem;
    transition: transform 0.3s ease-in-out;
    @include height-width(1rem, 1rem);
  }

  &__heading {
    @include list-item-header;

    @include tablet {
      display: none;
    }
  }
}

.contact {
  padding-bottom: 1rem;
  width: 100%;
  @include flex-box(center, flex-start, nowrap, column);

  @include tablet {
    width: 45%;
    padding: 0;
  }

  &__heading {
    @include list-item-header;

    @include tablet {
      display: none;
    }
  }
}

.location {
  @include flex-box(center, flex-start, wrap, column);

  @include tablet {
    width: 47.5%;
  }

  @include desktop {
    width: 70%;
  }

  &__heading {
    @include list-item-header;

    @include tablet {
      display: none;
    }
  }

  &__address {
    text-align: left;
  }
}

.info {
  @include tablet {
    width: 47.5%;
    text-align: left;
  }

  &__heading {
    @include list-item-header;

    @include tablet {
      display: none;
    }
  }
}

.icons {
  @include icons-block;

  &__edit {
    @include icon-item;
  }

  &__left {
    @include icon-item;
  }
}

.modal-background {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color-dark;
    opacity: 0.5;
    z-index: 2;
    @include height-width(100vh, 100vw);
  }
}
