@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  color: $secondary-color-dark;
  display: flex;
  justify-content: center;
  background-color: $background-color;
  padding-bottom: 1rem;

  @include tablet {
    padding-bottom: 2rem;
  }

  @include desktop {
    padding-bottom: 3rem;
  }
}
