@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventories,
.warehouse-inventory {
  &__item {
    @include item-list-contents;
  }

  &__details {
    @include list-item-box;
  }

  &__left {
    @include item-contents-left;
  }

  &__right {
    @include item-contents-right;
  }
}

.warehouse-inventory {
  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8rem;
  }
}

.categories {
  @include categories-bar(space-between, center);

  &__icon {
    @include height-width(1.25rem, 1.25rem);
  }

  &__item {
    @include category-item;
  }

  &__category,
  &__status,
  &__quantity,
  &__actions {
    @include category-item-inv;
  }
}

.ware-inventory {
  @include flex-box(center, flex-start, nowrap, column);
  padding-bottom: 1rem;

  @include tablet {
    width: 50%;
    padding: 0;
  }

  &__name {
    color: $primary-color;
    font-weight: 600;

    @include tablet {
      text-align: left;
    }
  }

  &__link {
    @include flex-box(baseline, center);
    text-decoration: none;

    @include tablet {
      min-width: 4rem;
    }
  }

  &__icon {
    @include height-width(1rem, 1rem);
    fill: $primary-color;
    margin-left: 0.25rem;

    @include tablet {
      margin: 0;
    }
  }
}

.category,
.quantity,
.inv-statuses,
.ware-inventory {
  &__heading {
    @include list-item-subtitle;
  }
}

.inv-statuses {
  @include flex-box(center, flex-start, nowrap, column);
  padding-bottom: 1rem;

  @include tablet {
    width: 63%;
    padding: 0;
  }

  &__value {
    &--in {
      @include in-stock-styling;
    }

    &--out {
      @include out-of-stock-styling;
    }
  }
}

.inv-icons {
  @include icons-block;

  &__delete,
  &__edit {
    @include icon-item;
  }

  &__delete {
    cursor: pointer;
  }
}
