@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse-inventory {
  @include tablet {
    margin: 0 2rem;
  }

  @include desktop {
    margin: 0 8rem;
  }

  &__details {
    @include list-item-box;
  }

  &__item {
    @include item-list-contents;
  }

  &__left {
    @include item-contents-left;
  }

  &__right {
    @include flex-box(flex-start, flex-start, nowrap, column);
    width: 45%;

    @include tablet {
      @include flex-box(space-evenly, center, nowrap, row);
      width: 55%;
    }
  }

  &__categories {
    @include categories-bar(space-between, center);
  }
}

.warehouse-inventory {
  &__icon {
    @include height-width(1.25rem, 1.25rem);
  }

  &__item {
    @include category-item;
  }

  &__category {
    @include category-item;
  }

  &__status {
    @include category-item;
  }

  &__quantity {
    @include category-item;
  }

  &__actions {
    @include category-item;
  }
}

.ware-inventory {
  @include flex-box(center, flex-start, nowrap, column);
  padding-bottom: 1rem;

  @include tablet {
    width: 63%;
    padding: 0;
  }

  &__name {
    color: $primary-color;
    font-weight: 600;

    @include tablet {
      text-align: left;
    }
  }

  &__link {
    @include flex-box(center, center);
    text-decoration: none;
  }

  &__icon {
    @include height-width(1rem, 1rem);
    fill: $primary-color;
    margin-left: 0.25rem;
  }

  &__heading {
    padding-bottom: 0.5rem;

    @include tablet {
      display: none;
    }
  }
}

.inv-statuses {
  @include flex-box(center, flex-start, nowrap, column);
  padding-bottom: 1rem;

  @include tablet {
    width: 63%;
    padding: 0;
  }

  &__heading {
    padding-bottom: 0.5rem;

    @include tablet {
      display: none;
    }
  }

  &__value {
    &--in {
      @include in-stock-styling;
    }

    &--out {
      @include out-of-stock-styling;
    }
  }
}

.inv-icons {
  @include icons-block;
}

.inventories {
  &__item {
    @include item-list-contents;
  }

  &__details {
    @include list-item-box;
  }

  &__left {
    @include item-contents-left;
  }

  &__right {
    @include item-contents-right;
  }
}
